 
 
header{
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  font-family: 'Alegreya Sans';
}
.main-menu{
  float: right;
  color: black;
  font-size: 25px;
  margin-right: 324px;
  margin-top: -15px;
}
.main-menu li{
  text-decoration : none;
  display : inline; 
  padding: 20px;
}
.main-menu li a{
  color : white;
  text-decoration : none;
}