
nav {
  height : 100px;
  width : 100%;
  background-color : #383737;
  font-family : 'Alegreya Sans';
}
.main-menu-holder {
  margin-right : 194px;
  margin-top : -76px;

}
.main-menu li {
  font-size : 20px;
  float : right;
  list-style : none;
  padding : 20px;
}
.main-menu li a {
  color : white;
  text-decoration : none;
}
.logo img {
  width : 50px;
  height : 50px;
  margin-left : 194px;
  margin-top : 23px;
}
.banner {
  width : 100%;
  height : 378px;
  background-color : black;
}