 
 
header{
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  font-family: 'Alegreya Sans';
}
.main-menu{
  float: right;
  color: black;
  font-size: 25px;
  margin-right: 324px;
  margin-top: -15px;
}
.main-menu li{
  text-decoration : none;
  display : inline; 
  padding: 20px;
}
.main-menu li a{
  color : white;
  text-decoration : none;
}
.about{
  height: 500px;
  width: 100%;
  background-color: black;
  margin-top: 1500px;
}
.slideshow-about{
  height: 500px;
  width: 50%;
  background-color: #808080;
  margin-top: 1500px;
}
.aboutright{
  height: 500px;
  width: 50%;
  background-color: pink;
  float: right;
  margin-top: -500px;

  
}
